<footer id=footer>
    <div class="container-fluid" id="footer">
      <abbr title="I dont use facebook anymore. :/"><img id="facebook-icon" class="social-icon" src="img/facebook.png"></abbr>
      <abbr title="I dont use twitter anymore. :/"><img id="twitter-icon" class="social-icon" src="img/twitter.png"></abbr>
      <abbr title="I dont use instagramm anymore. :/"><img id="instagram-icon" class="social-icon" src="img/instagram.png"></abbr>
      <abbr title="I dont use youtube anymore. :/"><img id="youtube-icon" class="social-icon" src="img/youtube.png"></abbr>
    </div>
</footer>