<footer id=footer>
    <div class="container-fluid" id="footer">
      <a href="https://github.com/benjamin-kromer" ><img id="github-icon" class="social-icon" src="img/social_icons/GitHub-Mark-Light-64px.png" alt="github-social-icon"></img></a>
    </div>
</footer>