<footer id=footer>
    <div class="container-fluid" id="footer">
      <img id="facebook-icon" class="social-icon" src="img/facebook.png">
      <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
      <img id="twitter-icon" class="social-icon" src="img/twitter.png"> 
      <img id="instagram-icon" class="social-icon" src="img/instagram.png"> 
      <img id="youtube-icon" class="social-icon" src="img/youtube.png"> 
    </div>
</footer>