<footer id=footer>
    <div class="container-fluid" id="footer">
      <abbr title="I dont use facebook anymore. :/"><img id="facebook-icon" class="social-icon" src="img/social_icons/facebook.png"></abbr>
      <abbr title="I dont use twitter anymore. :/"><img id="twitter-icon" class="social-icon" src="img/social_icons/twitter.png"></abbr>
      <abbr title="I dont use instagramm anymore. :/"><img id="instagram-icon" class="social-icon" src="img/social_icons/instagram.png"></abbr>
      <abbr title="I dont use youtube anymore. :/"><img id="youtube-icon" class="social-icon" src="img/social_icons/youtube.png"></abbr>
      <img id="github-icon" class="social-icon" src="img/social_icons/github2.png" alt="github-social-icon"></img>
    </div>
</footer>