<%- include('partials/header') %>
<div class="contactme">
    <form action="/" method="POST">
        <input type="text" name="message">
        <input type="email" name="mail">
        <br>
        <input type="radio" name="cv" value="cv">  <label>Send me your CV!</label>
        <br>
        <button class="btn-dark btn btn-lg">contact me</button>
    </form>
</div>
<%- include('partials/footer') %>