 <%- include('partials/header') %> 
<body>
    <div class="main container-fluid">
      <p class="line-1 anim-typewriter">I'am a Self-Thought Programmer.</p>
      <p class="line-2">As a Child I loved to play Lego Technic I was fascinated of the endless possibilitys of what I could build with it. 
          Lego was my tool to unleashe my creativity, today this is coding but the reason stayed the same.
          I'am a real digital native the World Wide Web with its Cloudapplications, API´s and WebHook´s are my workbench.
          My journey just started and I'am continuously learning new skills and refining what I learned so far. 
      </p>
      
    </div>
  
    <%- include('partials/footer') %>
    <script src="/js/script.js"></script>
</body>
</html>