<%- include('partials/header') %>
<body>
    <div class="main">
        <h1>Iam Benjamin Kromer</h1>
        <h1>Iam a selfthought Programmer.</h1>
        <img src="./img/bk.jpg">
    </div>
    <form action="/" method="POST">
        <input type="text" name="message">
        <input type="email" name="mail">
        <input type="radio" name="options">
        <button class="btn-dark btn btn-lg">contact me</button>
    </form>
</body>
</html>