body {
    background-color: black;
    color: white;
}

.main {
    padding: 0rem 10rem 0rem 10rem;
}

img{
    width:20%;
    height:20%;
    float: right;
}

.navbar{
    padding: 10rem 10rem 0rem 10rem;
}
#footer{
    padding: 3rem 3rem 0;
    text-align: center;
}